@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: white;
    align-items: center;
    justify-items: center;
}

.header {
    background-color: #8257e6;
    position: absolute;
    width: 100%;
    height: 25vh;
}

.container {
    background-color: white;
    width: 100%;
    height: 75vh;
    display: block;
    align-items: space-between;
}

.row {
    padding-left: 5px;
}

.calculator {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    padding: 10px;
    width: 400px;
    border-radius: 15px;
    background-color: white
}

.resultArea {
    border-radius: 10px;
}

.resultArea>input {
    opacity: 0;
    border: none;
    height: 80px;
    font-size: 58px;
    right: 0;
    background-color: white;
    color: black;
    width: 300px;
    margin-left: 0px;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 16px;
}
.result
.buttonsArea {
    width: 400px;
}
.delete{
    position: absolute;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 10px;
    border: none;
}
.delete > i{
    font-size: 40px;
}

#zero {
    width: 167px;
}

.resultArea>input.active {
    opacity: 1;
}

.number {
    font-weight: bold !important;
    outline: 0;
    width: 70px;
    height: 70px;
    background-color: #252533;
    color: #ffffff;
    border-radius: 70px;
    margin: 10px;
    border: none;
    font-size: 30px;
}

.function {
    outline: 0;
    width: 70px;
    height: 70px;
    background-color: #aa815b;
    color: white;
    border-radius: 70px;
    margin: 10px;
    border: none;
    font-size: 30px;
    font-weight: bold !important;
}
.function > i {
    font-size: 30px;
    font-weight: bold;
}

.operator {
    font-weight: bold !important;
    outline: 0;
    width: 70px;
    height: 70px;
    background-color: #dd7d19;
    color: rgb(12, 8, 8);
    border-radius: 70px;
    margin: 10px;
    border: none;
    font-size: 30px;
}

.history {}